.document {
  font-family: Arial, Helvetica, sans-serif;
}

.section {
  width: 100%;
}

.heading {
  border-bottom: gray 1px solid;
  padding: 0.5em;
  width: 100%;
}

.heading .text {
  display: inline-block;
  border: 1px solid gray;
  background-color: lightgray;
  border-radius: 0.2em;
  padding: 0.1em 0.2em 0.01em 0.2em;
}

.marker {
  font-weight: bolder;
  font-size: 0.9em;
}

.c .number {
  font-size: 2.2em;
  color: initial;
}

.c .marker, .v .marker {
  color: blue;
}

.v .marker, .v .number {
  font-size: 0.9em;
  vertical-align: super
}

.v .number {
  color: initial;
}

.p .marker, .s .marker, .s1 .marker, .s2 .marker, .s3 .marker, .s4 .marker, .s5 .marker, .ts .marker {
  color: green;
}

.pseudo-block.s, .pseudo-block.s1, .pseudo-block.s2 {
  font-size: 1.2em;
  font-weight: bolder;
  text-align: center;
  width: 100%;
  display: inline-block;
  padding: 0.05em 0.2em;
}

.footnote, .endnote {
  font-weight: lighter;
  font-size: small;
  vertical-align: super;
}

.f {
  color: orange;
}

.fe {
  color: coral;
}

.fk, .ft, .fr {
  color: orangered;
}

.w, .zaln-s, .zaln-e {
  color: purple;
}

.pseudo-block {
  display: block;
}

.tr, .tl {
  color: red;
}

.attribute {
  font-size: 0.8em;
  font-style: italic;
}

.block {
  border-bottom: gray 1px solid;
  padding: 0.05em 0.2em;
}

.preview .block {
  border-bottom: none;
}

.preview .pseudo-block.v {
  white-space: normal;
  display: inline;
}

.preview .pseudo-block.c .number {
  margin: 2em 0.2em 0 0.2em;
  float: left;
}

.preview .marker, .preview .attribute {
  display: none;
}

.preview .rtl .pseudo-block.c .number  {
  float: right;
}